.containerText {
  width: 30em;
}

.text {
  padding-top: .1em;
  padding-left: 2em;
  color: #424c93;
}

.text1{
  padding: .2em;
  font-size: 20px;
}

.text2 {
  font-size: 35px;
}

.text3 {
  font-size: 10px;
}

.containerButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30em;
  height: 15em;

}

.arrowVerticalLeft {
  flex-direction: column;
  width: 2em;
  height: 6em;
  
  background-color:black;
}

.arrowHorizontalLeft {
  width: 2em;
  height: 2em;

  background-color:black;
}

.arrowHorinzontalRight {
  width: 2em;
  height: 2em;
  
  background-color:black;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10em;
  width: 12em;
  height: 6em;

}

.buttonAposition {
  width: 3em;
  height: 6em;
}

 .buttonBposition {
} 

.buttonB {
  margin-top: 2em;
  width: 3em;
  height: 3em;
  border-radius: 25px 25px 25px 25px;
  background-color: #c13f6a;
}

.wordB {
  justify-content: end;
}

.buttonA {
  margin-top: 2em;
  width: 3em;
  height: 3em;
  border-radius: 25px 25px 25px 25px;
  background-color: #c13f6a;

}