.containerText {
  width: 30em;
  height: 24em;
}

.text {
  padding-top: .1em;
  padding-left: 2em;
  color: #424c93;
}

.text1{
  padding: .2em;
  font-size: 20px;
}

.text2 {
  font-size: 35px;
}

.text3 {
  font-size: 10px;
}

.containerButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30em;
  height: 16em;

}

.arrowVerticalLeft {
  width: 2em;
  height: 6em;
  
  background-color:black;
}

.arrowHorizontalLeft {
  width: 2em;
  height: 2em;

  background-color:black;
}

.arrowHorinzontalRight {
  width: 2em;
  height: 2em;
  
  background-color:black;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 10em;
  height: 6em;
  padding-left: 10em;
}

.buttonAposition {
  width: 6em;
}

.buttonA {
  width: 3em;
  height: 3em;
  
  border-radius: 25px 25px 25px 25px;
  
  background-color: #c13f6a;
}

.wordA {
  padding-top: 4em;
  padding-left: 1.5em;
  transform: rotate(-20deg);
}

.buttonBposition {
  width: 6em;
  padding-right: 1em;
  padding-left: 2em;
  padding-top: 1em;
}

.buttonB {
  margin-top: 2em;
  width: 3em;
  height: 3em;

  border-radius: 25px 25px 25px 25px;

  background-color: #c13f6a;
}

.wordB {
  padding-left: 1.5em;
  padding-top: 4em;
  transform: rotate(-20deg);
}