/* Pantalla */

.containerScreen {
  background-position: center;
  height: 22em;
}

.screenTop{
  width: 30em;
  height: 2em;
}

.screenDown {
  width: 30em;
  height: 2em;
}

.containerCenter {
  display: flex;
  flex-direction: row;
  width: 30em;
  height:20em;

}

.leftSide {
  width: 3.5em;
  height: 20em;

  background-color: #d8d7d2;
}

.rightSide {
  width: 3.5em;
  height: 20em;

  background-color: #d8d7d2;
}

.center {
  width: 26em;
  
  border-radius: 1em 1em 4em 1em;

}

.containerCenterScreen {
  display: flex;
  flex-direction: row;

  width: 26.1em;
  height: 14em;
}

.centerTop{
  height: 3em;
  background-color:#8a8b91;

  border-radius: 1em 1em 0 0;
}

.centerTopDecoration {
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: space-between; 
  
  padding-top: 1em;
}

.colorLineLeft{
  width: 8em;
  height: .3em;
  padding-left: 1em;
  border-top: 3px solid#a06a8c;
  border-bottom: 3px solid#463c79;

}

.colorLineRight {
  width: 3em;
  height: .3em;
  border-top: 3px solid#a06a8c;
  border-bottom: 3px solid#463c79;

}
 .screenText {
  width: 18em;
  padding-left: 1.5em;
  color: aliceblue;
  font-size: 10px;
} 


.centerLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10em;

  font-size: 10px;
  background-color:#8a8b91;
}

.redLight {
  width: 1em;
  height: 1em;

  margin-bottom: 1em;

  background-color: red;
  border-radius: 25px 25px 25px 25px;
}

.battery {
  margin-bottom: 6em;
  padding-left: 1em;
}

.centerRight {
  width: 7em;

  background-color:#8a8b91;
}

.centerDown {
  height: 3em;

  background-color:#8a8b91;
  border-radius: 0em 0em 4em 1em;

}

.centerScreen {
  width: 22em;
  background-color:#6b8c05;
}

.centerScreen:hover {
  width: 22em;
  height: 14em;
  background-image:url(https://static.vecteezy.com/system/resources/thumbnails/000/109/334/small/game-over-free-vector-background.jpg);
}