
/* Parte superior */

.gameboyTop{
  display: flex;
  height: 2em;

  margin: auto;
  border-bottom: 4px solid #baac9f;
}

.topLineLeft {
  height: 2em;

  margin-left: 2em;
  border-left: 4px solid #baac9f;
}

.topCenter {
  width: 26em;
}

.onButton {
  width: 6em;
  height: 1em;
  margin-left: 1em;
  border: 2px solid #baac9f;
  border-radius: 10px;
  font-size: 10px;
}

.topLineRight {
  height: 2em;

  margin-right: 2em;
  border-right: 4px solid #baac9f;
}

.topTwoLines {
  height: .6em;
  margin-right: 23em;
  margin-left: 1.5em;
  border-right: 4px solid #baac9f;
  border-left: 4px solid #baac9f;
}
